.logo a {
    width: 350px;
    background-size: 350px;

    @media #{$retina}  {
        background-image: url('../img/logo-retina.png');
        background-size: 350px;
      }
}   

.service {
    width: 80%
}


/*Center the Team photos*/
.content img {
	display: block;
	margin: auto;
}
/*Bigger Team photos*/
.grid-layout .card .card-header {
     max-height: 300px; 
     overflow: hidden; 
}
 
/*Slightly rounded people pics*/
.column-list-layout .post .post-header,
.profile-photo {
    border-radius: 5%   
}

.personal_url {
    float: left;
    margin-right: 10px;
    margin-bottom: 0;
    line-height: 2em;
    font-size: 12px;
}


/*Partners*/
.partners ul {
  display: inline-block;
}

.partners ul li {
  max-width: 150px;
  margin: 0px 10%;
  float: left;
} 

.partners ul li img {
  max-width: 150px
}

/*News Posts*/
.news-twitter .posts li {
  border-left: 1px solid darkgrey;
  text-indent: 10px;  
  background-color: antiquewhite;
}