---
layout: default
---
{% comment %}
	This layout is used by the documents in the _posts/ collection
{% endcomment %}

{% include breadcrumbs.html class="content-narrow" %}

<div class="container pure-g">
    <div class="pure-u-1">
        <div class="content content-narrow">
			<div class="meta">
				{% if page.roles.size > 0 %}
				<span class="meta-separator">&bull;</span>
				<ul class="tags-list">
				  <li class="inline tag_list_item role"> {{ role }} </li>
				  {% endfor %}
				</ul>
				<br />
				{% endif %}
				{% if page.personal_url and page.personal_url != "" %}
					<br />
					<span class="meta-separator">&bull;</span>
					<span class="personal_url">
						<a href="{{ page.personal_url }}" title="{{ page.title }} URL" target="_blank">Webpage</a>
					</span>
				{% endif %}								
			</div>
			
            {{ content }}
        </div>
    </div>
</div>
