---
layout: default
---
{% comment %}
	This layout is used by the documents in the _posts/ collection
{% endcomment %}

{% include breadcrumbs.html class="content-narrow" %}

<div class="container pure-g">
    <div class="pure-u-1">
        <div class="content content-narrow">
			<div class="meta">
				{% if page.roles.size > 0 %}
				<span class="meta-separator">&bull;</span>
				<ul class="tags-list">
				  <li class="inline tag_list_item">
								Roles:
							</li>
							{% for role in page.roles %}
				  <li class="inline tag_list_item">
				    {{ role }}
				    {% if forloop.last == true %}{% else %}
				      <span>,</span>
				    {% endif %}
				  </li>
				  {% endfor %}
				</ul>
				{% endif %}
			</div>
			
            {{ content }}
        </div>
    </div>
</div>
